.edit-note {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.89);
  z-index: 1;
  cursor: pointer;
}
.editNote-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 50%;
  width: 50%;
  /* background-color: deepskyblue; */
  transform: translate(-50%);
}
.editNote-container .add-note {
  font-size: 18px;
}

.editNote-container .add-note form {
  height: 200px;
  cursor: default;
}
.editNote-container .add-note textarea {
  max-height: 100px;
  max-width: 98%;
}

.editNote-container .types button {
  margin: 0.6em;
  width: 35px;
  height: 35px;
}
.editNote-container .colors-plate {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 158px;
  width: 119px;
  cursor: default;
}

.editNote-container .colors-plate button {
  width: 27px;
  height: 27px;

}

 .editNote-container .btn-note-background {
  width: 35px;
  height: 35px;
 }

 .editNote-container .btn-note-background {
  width: 35px;
  height: 35px;
 }
