/* @import url("./cmps/note/style.css"); */
@import url(./EditNote/EditNote.css);
@import url(./cmps/addNote.css);
@import url(./cmps/searchNote.css);

.container-notes-list {
  display: flex;
  flex-direction: column;
}

.note-list {
  /* columns: 310px 10;
  column-gap: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.notes-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  position: relative;
  max-width: 300px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  text-align: center;

  /* break-inside: avoid; */
}

.note p {
  word-wrap: break-word;
}

.note img {
  width: 100%;
}

.btn-note {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
}

.btn-pin-note {
  background-image: url(../../../assets/img/pin.png);
  left: -15px;
  top: -15px;
  background-color: white;
  background-size: 90%;
}

.btn-del-note {
  background-image: url(../../../assets/img/delete.png);
  left: 25px;
  top: -15px;
  background-color: #d11e1e;
  background-size: 90%;
}

.note-edit-link {
  background-image: url(../../../assets/img/edit.png);
  top: -15px;
  right: -16px;
  background-color: forestgreen;
  background-size: 75%;
  width: 35px;
  height: 35px;
}
