@import url("../../apps/MissKeep/style/main.css");
@import url("../../apps/MisterEmail/style/email.css");
@import url("../../apps/MissBook/assets/css/main.css");

/* FONTS */
@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: Trocchi;
  src: url(../fonts/Trocchi/Trocchi-Regular.ttf);
}

body {
  background-image: url('../imgs/925.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

button {
  cursor: pointer;
  outline: none;
}

.active {
  border-bottom: white 2px solid;
}

.far {
  font-family: fontawesome;
}
.app-header {
  /* background-color: #a6e89f; */
  margin: 0;
  margin-bottom: 5px;
}
.app-nav ul {
  display: flex;
}
.app-nav li {
  list-style: none;
  margin-left: 10px;
}
.app-nav a {
  font-family: Playfair;
  color: white;
  font-size: 1em;
}

.app-nav li:hover {
  box-shadow: 0 1px 0px rgba(255, 251, 251, 0.4);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e1e1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3e50;
}


.header-logo{
  height: 20px;
  margin-right: 15px;
}




/* ********************home********************* */


.home{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.home-horse{

  width: 150px;
}