@import url("../../apps/MissKeep/style/main.css");
@import url("../../apps/MisterEmail/style/email.css");
@import url("../../apps/MissBook/assets/css/main.css");

/* FONTS */
@font-face {
  font-family: Playfair;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.active {
  border-bottom: beige 2px solid;
}

.far {
  font-family: fontawesome;
}
.app-header {
  /* background-color: #a6e89f; */
  margin: 0;
  margin-bottom: 5px;
}
.app-nav ul {
  display: flex;
}
.app-nav li {
  list-style: none;
  margin-left: 10px;
}
.app-nav a {
  font-family: Playfair;
  color: beige;
  font-size: .8em;
}

.app-nav li:hover{
  box-shadow: 0 4px 4px rgba(255, 251, 251, 0.4);
}






::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e4e1e1; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:transparent;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #2c3e50; 
}