




@media screen and (max-width: 640px){

    /* remove Read\not read filter  */

#isRead{
    display: none;

}

.isRead{
    display: none;
}

#notRead{
    display: none;
}

.notRead{
    display: none;
}

/* ******************************** */

.search-input{
    padding-right: 150px !important;
    margin-left: 25px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.mail-container{
    max-height: max-content;
    width: 95% !important;
    margin-right: 0 !important;
    border-radius: 5px !important;
}

.container{
    flex-wrap: wrap;
    position: relative;
}

::-webkit-scrollbar-track{
    background: transparent !important;
}
::-webkit-scrollbar-thumb{
    background: transparent !important;
}

/* del icons from list */

.envelope{
    display: none !important;
}

.preview-icons  .fa-trash{
    display: none !important;
}

.preview-words{
    flex-direction: column;
    font-size: 12px;
    justify-content: flex-start;
}

.date{
    font-size: 10px;
    position: absolute;
    right: 45px;
    top: 10px;
    
}
.preview-item{
    position: relative;
    min-height: 60px;
}

.preview-item h3{
    flex-wrap: nowrap;
    font-size: 1px;
    margin-right: 5px;
    visibility: hidden;
}
.preview-item h3::first-letter{
    font-size: 16px;
    text-transform: capitalize;
    visibility: visible;
    border-radius: 999px;
    padding: 10px;
    border: 1px solid rgb(75, 75, 75);
    max-height: 20px !important;
    max-width: 50px !important;
}


/* ***************details*************
 */

 .details{
     width: 75% !important;
 }





 /* sidenav */

.side-nav{
    flex-wrap: wrap;
    flex-direction: row;
    order: -1;
    position: absolute;
    display: grid !important;
    margin-left: 0;
    margin-right: 250px;
    grid-template-columns: 80px 80px 80px  ;
    grid-template-rows: 50px 50px  ;
    
}

.add-mail{
    grid-area: 1 / 1 / 2 / 3 ;
}

.status-bar{
  display: none;
}

.fa-inbox{
    font-size: 14px;
    margin-top: 0px !important;
}





/* compose  */

.compose{
    left: 0 !important;

}

.compose-header{
    width: 200px !important;
}

.compose-subject{
    width: 230px !important;
}

.compose-body{
    width: 228px !important;
    padding-bottom: 200px !important;
}

.send-button{
width: 240px !important;
}

.body-preview{
    align-self: flex-start !important;
}


.app-nav a{
    font-size: 0.7em !important;
}

}





















